.main__heading {
  font-weight: normal;
  margin: 0;
  padding-bottom: 20px;
  font-size: 22px;
  line-height: calc((27 / 22));
  border-bottom: 1px solid #000;
}

@media (max-width: 767px) {
  .main__heading {
    font-size: 18px;
    line-height: calc(22 / 18);
    padding-bottom: 28px;
  }
}
